{% extends "base.html.twig" %}

{% block title %}Les relations{% endblock %}

{% block body %}
    <ul>
        {% for author in authors %}
            <li>
                {{ author.name }}
                <ul>
                    {% for article in author.articles %}
                        <li>{{ article.title }}</li>
                    {% else %}
                        <li>Aucun article</li>
                    {% endfor %}
                </ul>
            </li>
            
        {% endfor %}
    </ul>
    

{% endblock %}